@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    font-family: 'Press Start 2P', cursive;
}

button{
    cursor: pointer;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgb(30, 103, 70), rgb(77, 233, 139));
    height: 100%;
}

/* CAMPO----------------------------------------------------- */
.campo-container{
    width: 500px;
    height: 500px;
    background-color: rgba(0, 53, 22, 0.318);
    border: 3px solid black;
}

.area{
    width: 100px;
    height: 100px;
    float: left;
    position: relative;
    text-align: center;
    line-height: 107px;
    background-color: rgb(160, 207, 176);
    font-size: 1.4em;
    /* color: aliceblue; */
    caret-color: transparent;
    border-radius: 2px;
    transition: .5s;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .1s;
}

.minado{
    background-repeat: no-repeat;
    background-size: cover;
    transition: .1s;
}

.revelado{
    background-image: none !important;
}

/* RESTART------------------------------------------------------ */
#restart{
    position: absolute;
    width: 890px;
    height:300px;
    background-color: rgb(255, 162, 0);
    border: 3px solid black;
    z-index: 2;
    text-align: center;
    color: aliceblue;
    transition: 2;
    top: -340px;
    border-radius: 10px;
    color: rgb(16, 149, 100);
}

#texto{
    margin-top: 90px;
    line-height: 2;
}

#restart_butt{
    height: 50px;
}